<% include layouts/head_start %>
<% include layouts/common_style %>
<!-- build:css styles/robot.css -->
<link rel="stylesheet" href="styles/robot.css">
<!-- endbuild -->
<% include layouts/head_end %>

<body>
    <header>
        <% include layouts/menu_start %>
        <li class="pure-menu-item"><a href="#2004" class="pure-menu-link">2004</a></li>
        <li class="pure-menu-item"><a href="#2005" class="pure-menu-link">2005</a></li>
        <li class="pure-menu-item"><a href="#2006" class="pure-menu-link">2006</a></li>
        <li class="pure-menu-item"><a href="#2007" class="pure-menu-link">2007</a></li>
        <li class="pure-menu-item"><a href="#2008" class="pure-menu-link">2008</a></li>
        <li class="pure-menu-item"><a href="robot_9_14.html" class="pure-menu-link">2009~</a></li>
        <% include layouts/menu_end %>
    </header>

    <div class="content-wrapper" id="content-wrapper">
        <h1 class="content-head is-center"> 2004から2008年度のロボット</h1>

        <article id="2008" class="content robot-article">
            <h2 class="content-head is-center"> 2008年度 ：テーマ「神速」</h2>
            <div>
                <h3>1号機　はまかぜ</h3>
                <img src="images/robot/2008_1.jpg">
                <p>
                    上にあるローラーで特殊瓦礫を持ち上げるという設計だが、実際にはその重量で持ち上げるまでも無く瓦礫を動かすことが出来たという・・・。ローラー部は触ってるだけで楽しい。救助はローラーの下にあるアームで掬いあげる感じで行う。
                </p>
            </div>

            <div>
                <h3>2号機　そよかぜ</h3>
                <img src="images/robot/2008_2.jpg">
                <p>
                    車輪が前方向と横方向に向きが変わり、普通の直進と回転に加え真横に動くことが可能な、なんかどっかの自動車会社が作ってたような機構を備えた機体。縦列駐車が楽に出来ます。救助機構は機体の上に乗っているアームで、ダミヤンを横側から手で掬うように助けることが可能。
                </p>
            </div>

            <div>
                <h3>3号機　こがらし</h3>
                <img src="images/robot/2008_3.jpg">
                <p>
                    ファーストミッション、ファイナルミッションにおいて、ダミヤン3体全てを助けた驚異の機体。 2号機同様、車輪が縦と横に向きが変わり、さらに円に沿った向きにも変わり回転がスムーズに行える。通常の3倍は速いので、操作には熟練が必要。汎用機では大会最小を誇る(六甲おろし調査)。救助機構は、アームをダミヤンの脇に差し込んで、引き上げる用に助ける、通称ダッコちゃん機構。
                </p>
            </div>
        </article>

        <hr>

        <article id="2007" class="content robot-article">
            <h2 class="content-head is-center"> 2007年度 ：テーマ「挑戦」</h2>
            <div>
                <h3>1号機　Shell-R</h3>
                <img src="images/robot/2007_1.jpg">
                <p>
                    コロコロ転がるボール型ロボット。走行モードと救助モードの２種類に変形することができる。乗り物に弱い人は操縦するときに酔止薬が必要。ファーストミッションでダイヤン１体を救出。
                </p>
            </div>

            <div>
                <h3>2号機　Kirin-R</h3>
                <img src="images/robot/2007_2.jpg">
                <p>
                    インフラ整備専用ロボット。ワイヤーで動くアームが特徴的。トップクラスの頑丈さを誇る。しかし、他のロボットがインフラ整備を必要としなかったため、活躍の場がほとんどなかった悲劇のロボット。回路は宇宙。
                </p>
            </div>

            <div>
                <h3>3号機　Nezu-R</h3>
                <img src="images/robot/2007_3.jpg">
                <p>
                    空気でダミヤンを包み込んで助ける、風船式ハンドを搭載。ファーストミッションで風船を爆発させ、ダミヤンと審判員をビックリさせた。
                </p>
            </div>
            <div>
                <h3>4号機　Kamakama - R</h3>
                <img src="images/robot/2007_4.jpg">
                <p>
                    ６輪駆動で激しく動き回り、マスタースレーブで動く双腕アームでダミヤンを捕獲・・・いや、救助する。アームは操縦しやすさがウリだが、操作するには超絶テクニックを必要とする。
                </p>
            </div>
        </article>

        <hr>

        <article id="2006" class="content robot-article">
            <h2 class="content-head is-center"> 2006年度 ：テーマ「やさしく 安全に 確実に」</h2>
            <div>
                <h3>1号機　Rokko-Robo Ω</h3>
                <img src="images/robot/2006_1.jpg">
                <p>
                    通称「大魔神」。上半身は人型を模し、右腕でダミヤン救助、左腕でダレキ除去を行う。しかし、重心が上のほうにあり、ダミヤンを乗せたときはバランスを崩しやすいため、ガッツが足りないと転倒する。予選とファーストミッションでダミヤンを１体ずつ救出。
                </p>
            </div>

            <div>
                <h3>2号機　Rokko-Robo ⊿</h3>
                <img src="images/robot/2006_2.jpg">
                <p>
                    シンプルな構造で確実な動作を実現する。図面を必要としない、経験と勘で製作された職人の魂を感じさせるロボット。
                </p>
            </div>

            <div>
                <h3>3号機　Rokko-Robo Σ</h3>
                <img src="images/robot/2006_3.jpg">
                <p>
                    マスタースレーブで動くアームを持つ。駆動能力がずば抜けて高い。二人きりのときはちゃんと動くのに、みんなの前では言うことを聞かないツンデレなロボット。このロボットの活躍でベストチームワーク賞を受賞する。やっぱりツンデ(ｒｙ
                </p>
            </div>
        </article>

        <hr>

        <article id="2005" class="content robot-article">
            <h2 class="content-head is-center"> 2005年度 ：テーマ「やさしく安全に」</h2>
            <div>
                <h3>1号機　Shishi</h3>
                <img src="images/robot/2005_1.jpg">
                <p>
                    ２号機　Uriboとセットの親機。内部の斜めになってるところにUriboがフィットします。
                </p>
            </div>

            <div>
                <h3>2号機　Uribo</h3>
                <img src="images/robot/2005_2.jpg">
                <p>
                    回転するベルトでダミヤンを自分の上に乗せ、そのままShishiの中へ～
                </p>
            </div>

            <div>
                <h3>3号機　黄色い風船</h3>
                <img src="images/robot/2005_3.jpg">
                <p>
                    ダミヤンに覆いかぶさり、救助します。
                </p>
            </div>
            <div>
                <h3>4号機　ダッコちゃん＆スペースくん</h3>
                <img src="images/robot/2005_4.jpg">
                <p>
                    ＲＥＤ製作です
                </p>
            </div>
        </article>

        <hr>

        <article id="2004" class="content robot-article">
            <h2 class="content-head is-center"> 2004年度 ：テーマ「コスト削減」</h2>
            <div>
                <h3>1号機　</h3>
                <img src="images/robot/2004_1.jpg">
            </div>

            <div>
                <h3>2号機　</h3>
                <img src="images/robot/2004_2.jpg">
            </div>

            <div>
                <h3>3号機　</h3>
                <img src="images/robot/2004_3.jpg">
            </div>
        </article>
        
        <% include layouts/footer %>  
        
    </div>
    <% include layouts/common_script %>
    <!-- build:js scripts/main.js -->
    <script type="text/javascript" src="scripts/main.js"></script>
    <!-- endbuild -->
</body>

</html>