<% include layouts/head_start %>
<% include layouts/common_style %>
<!-- build:css styles/robot.css -->
<link rel="stylesheet" href="styles/robot.css">
<!-- endbuild -->
<% include layouts/head_end %>

<body>

    <header>
        <% include layouts/menu_start %>
        <li class="pure-menu-item"><a href="robot_4_8.html" class="pure-menu-link">~2008</a></li>
        <li class="pure-menu-item"><a href="#2009" class="pure-menu-link">09</a></li>
        <li class="pure-menu-item"><a href="#2010" class="pure-menu-link">10</a></li>
        <li class="pure-menu-item"><a href="#2011" class="pure-menu-link">11</a></li>
        <li class="pure-menu-item"><a href="#2012" class="pure-menu-link">12</a></li>
        <li class="pure-menu-item"><a href="#2013" class="pure-menu-link">13</a></li>
        <li class="pure-menu-item"><a href="#2014" class="pure-menu-link">14</a></li>
        <li class="pure-menu-item"><a href="robot_15.html" class="pure-menu-link">2015~</a></li>
        <% include layouts/menu_end %>
    </header>

    <div class="content-wrapper" id="content-wrapper">
        <h1 class="content-head is-center"> 2009年度から2014年度のロボット</h1>

        <article id="2014" class="content robot-article">
            <h2 class="content-head is-center"> 2014年度 ：テーマ「確実で迅速な救助」</h2>
            <div>
                <h3>1号機　アルゴル</h3>
                <img src="images/robot/2014_1.jpg">
                <p>
                    指型救助機構を搭載し、要救助者を下から抱えるようにしてベッドに引き込む。
                </p>
            </div>

            <div>
                <h3>2号機　ミファルク</h3>
                <img src="images/robot/2014_2.jpg">
                <p>
                    360度全方向に移動可能なメカナムホイールと、汎用性の高いベルトコンベア式救助機構を搭載。                    
                </p>
            </div>

            <div>
                <h3>3号機　バーゼル</h3>
                <img src="images/robot/2014_3.jpg">
                <p>
                    抱っこちゃん機構と、先端を取り替え可能なアームを搭載。シンプルな機構のため操作が容易。
                </p>
            </div>
        </article>

        <hr>

        <article id="2013" class="content robot-article">
            <h2 class="content-head is-center"> 2013年度 ：テーマ「未来を見据えたレスキュー」</h2>
            <div>
                <h3>1号機　クロッカス</h3>
                <img src="images/robot/2013_1.jpg">
                <p>
                    救助者に瓦礫が落ちないように支えるホールディング機構を採用。また、要救助者を引き込む際の負担を軽減するためにスライドベッドを搭載している。
                </p>
            </div>

            <div>
                <h3>2号機　アイリス</h3>
                <img src="images/robot/2013_2.jpg">
                <p>
                    首と床の間にまくらを差し込むことで要救助者の頭部および首の負担を軽減する抱きかかえ救助機構を採用。さらに、1号機のホールディング機構を簡易化した瓦礫倒壊防護機構も採用している。
                </p>
            </div>

            <div>
                <h3>3号機　イキシア</h3>
                <img src="images/robot/2013_3.jpg">
                <p>
                    倒壊家屋からの救助を目的とした機体。狭いスペースでの救助を行うため子機を使った救助を行う。家屋の傾きや周囲の瓦礫による距離に対応するために跳ね橋機構とティルト機構を搭載している。
                </p>
            </div>
        </article>

        <hr>


        <article id="2012" class="content robot-article">
            <h2 class="content-head is-center"> 2012年度 ：テーマ「100％の信頼性、そして、ささやかな気配りを」</h2>
            <div>
                <h3>1号機　</h3>
                <img src="images/robot/2012_1.jpg">
                <p>
                    大会史上最小クラスの一号機。その小ささと、クローラーによる走破性を生かし、素早く災害地の偵察を行い、他の機体をサポートする。もちろん、救助活動を行う事も可能だ。
                </p>
            </div>

            <div>
                <h3>2号機　</h3>
                <img src="images/robot/2012_2.jpg">
                <p>
                    足回りをユニット化することで、現場の状況に合わせて、タイヤとクローラーをすぐに切り替えられる。また、救助時に瓦礫が救助者の上に落ちないように支える機構も搭載。
                </p>
            </div>

            <div>
                <h3>3号機　</h3>
                <img src="images/robot/2012_3.jpg">
                <p>
                    要救助者に負担を与えないよう、ベルトコンベアによる救助機構を採用。また、他にも、ベッド内部にライトを設置するなど、要救助者への気配りが考えられている機体だ。
                </p>
            </div>

            <div>
                <h3>4号機　</h3>
                <img src="images/robot/2012_4.jpg">
                <p>
                    瓦礫除去専用の四号機は、バンパーとアームにより瓦礫を除去、状況によっては自ら搭載する事が出来る．また、有毒ガスを排気するためのブロワーも搭載している。
                </p>
            </div>
        </article>

        <hr>


        <article id="2011" class="content robot-article">
            <h2 class="content-head is-center"> 2011年度 ：テーマ「100％の信頼性」</h2>
            <div>
                <h3>1号機　アルタイル</h3>
                <img src="images/robot/2011_1.jpg">
                <p>
                    大型四輪駆動によるパワーで瓦礫を乗り越えたり、押す事ができる。また、従来のだっこちゃん機構に、新たにTwinbill機構や多自由度アームなどの新要素を加え、より確実に、そしてスムーズにダミヤンを救助できるようになった。
                </p>
            </div>

            <div>
                <h3>2号機　デネブ</h3>
                <img src="images/robot/2011_2.jpg">
                <p>
                    独立して動作する双腕機構により、瓦礫に囲まれている救助困難な環境でも、瓦礫の崩落から庇いながらダミヤンを救助するなど、非常に高度な救助が可能となっている。また、ロボットからベッドを前に出すことで、ダミヤンを持ち上げることなく、少ない負荷で救助できるようになっている。
                </p>
            </div>

            <div>
                <h3>3号機　ベガ</h3>
                <img src="images/robot/2011_3.jpg">
                <p>
                    横幅を広げる事で、ロボットの低重心化と安定化を図り、ダミヤンの救助や搬送における横転の危険を軽減している。また、2号機と同じく、ダミヤンを持ち上げる事無く救助するため、救助中の安定性も保たれている。
                </p>
            </div>
        </article>

        <hr>


        <article id="2010" class="content robot-article">
            <h2 class="content-head is-center"> 2010年度 ：テーマ「原点回帰」</h2>
            <div>
                <h3>1号機　Rokko-ROBO α</h3>
                <img src="images/robot/2010_1.jpg">
                <p>
                    車輪の方向軸をモーターによって制御することで、全方向へ平行移動でき、細かい動きが可能となっている。また、家瓦礫に埋まっているダミヤンに対しては、低い位置からアプローチできるように、５自由度のアームが搭載されている。
                </p>
            </div>

            <div>
                <h3>2号機　Rokko-ROBO 薫風</h3>
                <img src="images/robot/2010_2.jpg">
                <p>
                    機体上部の救助機構と、下部の移動機構は独立して回転するようになっている。機体をジャッキアップさせれば下部が、設置していれば上部が回転し、細かな位置調節や方向転換ができる。
                </p>
            </div>

            <div>
                <h3>3号機　Rokko-ROBO 保</h3>
                <img src="images/robot/2010_3.jpg">
                <p>
                    操縦者の思い通りの操縦ができるように、旋回性に優れる二輪駆動を採用している。二本のアームによってダミヤンをベルトコンベアに乗せ、屋根の付いた安全な本体内部へ収容して救助する。
                </p>
            </div>
        </article>

        <hr>


        <article id="2009" class="content robot-article">
            <h2 class="content-head is-center"> 2009年度 ：テーマ「連携」</h2>
            <div>
                <h3>1号機　</h3>
                <img src="images/robot/2009_1.jpg">
                <p>
                    四輪駆動による強力な機動力を生かし、ダミヤンの元へ素早く移動できる。また、オムニホイールという特殊なタイヤにより、その場での旋回や左右平行移動が可能であり、正確な救助を行える。
                </p>
            </div>

            <div>
                <h3>2号機　</h3>
                <img src="images/robot/2009_2.jpg">
                <p>
                    タイヤは平行移動モードと通常移動モードをチェンジさせることができ、作業効率が向上している。ベルトコンベアによってダミヤンを引き込む方式で、閉所でも救助が可能である。
                </p>
            </div>
        </article>

        <% include layouts/footer %>  
        
    </div>

    <% include layouts/common_script %>
    <!-- build:js scripts/main.js -->
    <script type="text/javascript" src="scripts/main.js"></script>
    <!-- endbuild -->
</body>

</html>