<section class="content" id="about">
    <h2 class="content-head is-center">六甲おろしとは？</h2>

    <p>六甲おろしは、神戸大学で活動しているロボット研究会です。</p>
    <p>メンバーは主に、工学部の機械工学科と情報知能工学科の１～３回生で構成されています。</p>
    <p>毎週一回のミーティングとロボット製作において、大学で学んだ内容を実践したり、先輩後輩間で意見交流を行ったりすることで、お互いの技術と知識の向上に取り組んでいます。</p>
    <p>また、他のサークルと同じように、学祭への参加や飲み会なども行っており、皆で楽しく活動しています。</p>
    <img src="images/about/1.jpg" height="150px">
    <img src="images/about/2.jpg" height="150px">
    <img src="images/about/3.jpg" height="150px">

    <h3>活動内容</h3>
    <p>大学内にある工作技術センターにて、放課後など大学生活の空き時間にロボット製作を行い、毎年７～８月に神戸で開催されるレスキューロボットコンテストに出場しています。</p>
    <p>ロボットは、一年で３～４台制作し、それぞれの設計から制作まで、全て自分達の手で行っています。メンバーは機構を担当する機構班と、回路・ソフトを担当する回路班に分かれて活動しています。</p>
    <p>また、製作したロボットは、毎年11月にある神戸大学の学祭「六甲祭」や、オープンキャンパスにて展示しています。</p>
    <div class="pure-g">
        <div class="pure-u-1-2 l-box">
            <h4>機構班</h4>
            <p>
                3DCadソフト(現在はSolidWorks)を使用してロボットの設計を行い、部品を一つ一つ製作していきます。 春から夏にかけては主に工作センターで活動しています。
                <a href="http://www.edu.kobe-u.ac.jp/eng-kousaku/">工作センター</a>には旋盤やフライスなどの本格的な設備が揃っています。
            </p>
        </div>
        <div class="pure-u-1-2 l-box">
            <h4>回路班</h4>
            <p>
                ロボットに組み込む回路の設計・プログラミング、ロボットを制御するソフトウェアの開発をしています。 回路班内部でも、それぞれのロボットの回路担当、PC側のソフトの担当などにわかれて活動しており、内容は様々です。
            </p>
        </div>
        <div class="pure-u-1-2 l-box">
            <img src="images/about/4.jpg" style="max-width:100%; max-height: 150px;">
        </div>
        <div class="pure-u-1-2 l-box">
            <img src="images/about/5.jpg" style="max-width:100%; max-height: 150px;">
        </div>
    </div>

    <h3>レスキューロボットコンテストとは？</h3>
    <p>レスキューロボットコンテストは、大規模災害における、ロボットによる救助活動を題材にしたコンテストです。</p>
    <p>災害現場を模した1/6スケールのフィールド上で、瓦礫の下に居るダミー人形をロボットを用いて救助します。</p>
    <p>競技では、製作したロボットを遠隔操縦し、ダミー人形をいかに早く、そして優しく救助できるかを競います。</p>
    <p>詳しくは、レスキューロボットコンテストの<a href="http://rescue-robot-contest.org/">ホームページ（外部サイト）</a>をご覧下さい。</p>
    <p>以下は運営団体が公式に公開している紹介動画です。</p>
    <div class="youtube">
        <iframe src="https://www.youtube.com/embed/hwCBPQ5dNNY" frameborder="0" allowfullscreen></iframe>
    </div>
</section>