<section id="contact" class="content">
    <h2 class="content-head is-center">コンタクト</h2>
    <h3>連絡先</h3>
    <p>六甲おろしへのお問い合わせは、以下のメールアドレスへご連絡ください。</p>
    <p>ロボットのデモンストレーション等も随時引き受けています。</p>
    <p>新入生・編入生の方で、六甲おろしに興味のある方、質問がある方も、お気軽にご連絡ください。活動場所に直接来てもらっても構いません。</p>
    <strong>roboken.rokko.oroshi at gmail.com</strong>
    <h3>活動場所</h3>
    <p>工学部E棟2F　3E-204、工作技術センター（先端膜工学センター1F）</p>
    <div class="google-map">
        <a href="https://www.google.com/maps/d/edit?mid=z-IpBSqx9Hz0.kC25IkqaZ3Ak&usp=sharing">Google Mapで開く</a>
        <iframe src="https://www.google.com/maps/d/embed?mid=z-IpBSqx9Hz0.kC25IkqaZ3Ak"></iframe>
    </div>
</section>