<section id="history" class="content">
    <h2 class="content-head is-center">これまでの記録</h2>
    <b>2017年度</b>
    <ul>
        <li>第17回レスキューロボットコンテスト出場（予選敗退）</li>
    </ul>
    <b>2016年度</b>
    <ul>
        <li>第16回レスキューロボットコンテストにて、ベストロボット賞、ベストプレゼンテーション賞を受賞</li>
    </ul> 
    <b>2015年度</b>
    <ul>
        <li>第15回レスキューロボットコンテスト出場（予選敗退）</li>
    </ul>
    <b>2014年度</b>
    <ul>
        <li>第14回レスキューロボットコンテストにて、ベストチームワーク賞を受賞</li>
    </ul>
    <b>2013年度</b>
    <ul>
        <li>第13回レスキューロボットコンテストにて、アイディア賞を受賞</li>
    </ul>
    <b>2012年度</b>
    <ul>
        <li>第12回レスキューロボットコンテストにて、消防庁長官賞を受賞</li>
        <li>平成24年度学生表彰式にて表彰されました</li>
    </ul>
    <b>2011年度</b>
    <ul>
        <li>第11回レスキューロボットコンテストにて、ベストパフォーマンス賞、ベストプレゼンテーション賞、日本機械学会ロボティクス・メカトロニクス部門一般表彰を受賞</li>
        <li>SCIE　SI2011(計測自動制御学会システムインテグレーション部門)にて公演論文「レスキューロボットコンテストにおける六甲おろしのチーム再生への取り組み」を発表</li>
    </ul>
    <b>2009年度</b>
    <ul>
        <li>第9回レスキューロボットコンテストにて、アイデア賞を受賞</li>
    </ul>
    <b>2008年度</b>
    <ul>
        <li>第8回レスキューロボットコンテストにて、レスキュー工学大賞、RSコンポーネンツ杯を受賞、ベストパフォーマンス賞を受賞。 </li>
        <li>神戸市青少年育成協議会・神戸市主催による「第26回こうべユース賞」を受賞</li>
    </ul>
    <b>2007年度</b>
    <ul>
        <li>第7回レスキューロボットコンテストにて、アイデア賞を受賞</li>
        <li>SCIE　SI2007(計測自動制御学会システムインテグレーション部門)にて公演論文「レスキューロボットコンテストにおけるロボットの救助方法による分類とその有効性」を発表</li>
        <li>第1回学生3Dデザインコンテスト　自由作品部門にて「安全面を考慮したレスキューロボット」が優秀賞を受賞</li>
    </ul>
    <b>2006年度</b>
    <ul>
        <li>第6回レスキューロボットコンテストにて、ベストプレゼンテーション賞、ベストチームワーク賞を受賞</li>
        <li>SCIE　SI2006(計測自動制御学会システムインテグレーション部門)にて公演論文「レスコンにおけるやさしさと確実さの追求　第6回レスキューロボットコンテストにおける「六甲おろし」チームの取り組み」を発表</li>
    </ul>
    <b>2005年度</b>
    <ul>
        <li>第5回レスキューロボットコンテストにて、アイデア賞を受賞 </li>
        <li>神戸大学「教育研究活性化支援経費」の採択を受け、「戦略的・独創的な教育研究プロジェクト事業」のなかで「神戸開催のレスキューロボットコンテスト出場を目指す学生・職員の創作環境の構築」と題して成果報告を発表</li>
    </ul>
    <b>2004年度</b>
    <ul>
        <li>第4回レスキューロボットコンテストにて、ベストプレゼンテーション賞を受賞</li>
        <li>SCIE　SI2004(計測自動制御学会システムインテグレーション部門)にて公演論文「第4回レスキューロボットコンテストにおける「六甲おろし」チームの取り組み」を発表</li>
    </ul>
</section>
