<section id="link" class="content">
    <h2 class="content-head is-center">リンク</h2>
    <h3>各種アカウント等</h3>
    <ul>
        <li>
            <a href="https://github.com/RokkoOroshi/"></i>Github</a>
            <p>過去の大会で使用したプログラムや回路の情報を公開しています。</p>
        </li>
        <li>
            <a href="https://twitter.com/_Rokko_Oroshi_"></i>Twitter</a>
            <p>稀につぶやきます。</p>
        </li>
        <li>
            <a href="<%= blog_url %>"></i>ブログ</a>
            <p>日々の活動内容について書いています。一週間ごとに書く決まりのはずです。</p>
        </li>
        <li>
            <a href="<%= wiki_url %>"></i>Wiki</a>
            <p>部員向けのデータベースです。最近全く使われていません。</p>
        </li>
    </ul>

    <h3>支援をいただいている組織等</h3>
    <ul>
        <li>
            <a href="http://www.mech.kobe-u.ac.jp/top/door.htm">神戸大学　機械工学科</a>
        </li>
        <li>
            <a href="http://homepage2.nifty.com/KTC/">社団法人 神戸大学工学振興会 KTC</a>
        </li>
        <li>
            <a href="http://home.kobe-u.com/ktcm/">KTC 機械クラブ ＫＴＣＭ</a>
        </li>
    </ul>

    <h3>その他関係サイト</h3>
    <ul>
        <li>
            <a href="http://www.kobe-u.ac.jp/">神戸大学</a>
        </li>
        <li>
            <a href="http://rescue-robot-contest.org/">レスキューロボットコンテスト</a>
        </li>
    </ul>
</section>