<section id="robot" class="content">
    <h2 class="content-head is-center">製作したロボット</h2>
    <p>過去に製作した六甲おろしのロボットを紹介します。</p>
    <ul>
        <li><a href="robot_15.html">15年度</a></li>
        <li><a href="robot_9_14.html">2009 - 2014年度</a></li>
        <li><a href="robot_4_8.html">2004 - 2008年度</a></li>
    </ul>
    <div class="pure-g">
        <div class="pure-u-1-2 l-box">
            <img src="images/robot/2012_1.jpg" style="max-width:100%; max-height: 150px;">
        </div>
        <div class="pure-u-1-2 l-box">
            <img src="images/robot/2013_2.jpg" style="max-width:100%; max-height: 150px;">
        </div>
    </div>
</section>