<section id="welcome" class="content">
    <h2 class="content-head is-center">ようこそ</h2>
    <p>ここは、神戸大学で活動しているロボット研究会　六甲おろし　のホームページです。</p>
    <p>六甲おろしの活動内容について簡単に紹介しています。</p>
    <h3>お知らせ</h3>
    <ul>
        <li>
            <p>六甲おろしではメンバーを募集しています</p>
            <p>学部学科、経験は問いません　興味のある方は気軽にご連絡ください</p>
        </li>
        <li>
            <p>サイトを作り直しました　過去のサイトは<a href="/old-home/">こちら</a></p>
        </li>
    </ul>
</section>