<section id="welcome" class="content">
    <h2 class="content-head is-center">ようこそ</h2>
    <p>ここは、神戸大学で活動しているロボット研究会　六甲おろし　のホームページです。</p>
    <p>六甲おろしの活動内容について簡単に紹介しています。</p>
    <h3>お知らせ</h3>
    <ul>
        <li>
            <p>六甲おろしではメンバーを募集しています</p>
            <p>学部学科、経験は問いません　興味のある方は気軽にご連絡ください</p>
        </li>
        <li>
            <p>サイトを作り直しました　過去のサイトは<a href="/old-home/">こちら</a></p>
        </li>
        <li>
        <p><strong>2016年度新歓情報</strong></p>
	    <p>4/19 17:00~ 回路班体験会 : <br>
           回路班がやっていることの詳細説明と簡単な組込みプログラミングの予定です <br>
           17時までに工学部E棟2F　3E-204に直接来てください<br>
           ノートPCを持っている人はArduinoIDEをインストールして持って来てください<br>
           部にも数台PCがあるので、持ってない人は貸し出せます<br>
           質問等は<a href="#contact">メール</a>で。           
           </p>
	    <p><del>4/21 17:00~ 機構班体験会（工作センターで加工をする？）</del> <br>
            機械工学科３年の補講の都合で中止します<br>
            来るつもりだったという人がいれば<a href="#contact">メール</a>等で連絡くれれば何かするかもしれません。
        </p>
        </li>
	    <li>
            <p>今季のミーティングは金曜日19:00~になりました<br>
            興味ある人は19時前に工学部E棟2F　3E-204に来てくれると高確率で誰か居ます<br>
            （ミーティング自体は工学部E棟3Fの部屋で行います）<br>
            他の日・時間帯でも誰かいることはよくあるのでぜひ一度来てください
            </p>
        </li>
	
    </ul>
</section>