<section id="welcome" class="content">
    <h2 class="content-head is-center">ようこそ</h2>
    <p>ここは、神戸大学で活動しているロボット研究会　六甲おろし　のホームページです。</p>
    <p>六甲おろしの活動内容について簡単に紹介しています。</p>
    <h3>お知らせ</h3>
    <ul>
        <li>
            <p>六甲おろしではメンバーを募集しています</p>
            <p>学部学科、経験は問いません　興味のある方は気軽にご連絡ください</p>
        </li>
        <li>
            <p>サイトを作り直しました　過去のサイトは<a href="/old-home/">こちら</a></p>
        </li>
        <li>
            <p><strong>2016年度新歓情報</strong></p>
	    <p>4/8, 12 17:00~ 説明会 工学部セブンイレブン前に17時前に来てください。(会場は工学部3E303)</p>
	    <p>4/19 17:00~ 回路班体験会（組込みプログラミング？）</p>
	    <p>4/21 17:00~ 機構班体験会（工作センターで加工をする？）</p>
        </li>
	<li>
            <p>今季のミーティングは金曜日19:00~になりそうです</p>
        </li>
	
    </ul>
</section>