<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed" id="home-menu">
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="index.html" class="pure-menu-link no-padding"><img src="images/logo_small_white_64px.png" height="32px" width="32px"></a>
        </li>